{% extends "layouts/application.html" %}
{% block title %}
<title>Top Page</title>
{% endblock %}
{% block body %}
<h1>This is a top page</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<ul>
  <li>
    <a href="{{ url_for('signup.index') }}">signup</a>
  </li>
  <li>
    <a href="{{ url_for('redirect_to_index') }}">redirect</a>
  </li>
  <li>
    <a href="{{ url_for('index') }}">top</a>
  </li>
</ul>
{% endblock %}