{% extends "layouts/application.html" %}
{% block title %}
<title>子ページ</title>
{% endblock %}
{% block body %}
<h1>This is a top page</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<ul>
  <li>
    <a href="entry/index">entry</a>
  </li>
  <li>
    <a href="redirect">redirect</a>
  </li>
  <li>
    <a href="/">top</a>
  </li>
  <li>{{ g.name }}</li>
</ul>
{% endblock %}