---
name: Auto Merge
on: pull_request
jobs:
  merge:
    if: |
      github.event.pull_request.user.login == 'renovate[bot]' && contains(github.event.pull_request.body, ' **Automerge**: Enabled.')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-request: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
      - run: gh pr merge "${GITHUB_HEAD_REF}" --merge
